{{>header}}
 <div class="panel-group main-container">
    <pre style="width: 890px;">Tecnológico de Antioquia - Información de Cursos</pre>
    <img src="http://www.tdea.edu.co/images/tdea/galeria/valla-virtual/2019/inscripciones_tdea_valla_27_marzo_2019_2.jpg">
</div>
{{>footer}}